<div class="sidebar-folder">
  <span class="expander" {{action 'toggleExpansion'}}>
    {{if isExpanded '-' '+'}}
    {{folder.name}}
  </span>
  <div class="expanded-content">
    {{#if isExpanded}}
      {{#each folder.folders as |folder|}}
        {{!-- recursive call to expandable-folder --}}
        {{expandable-folder folder=folder}}
      {{/each}}
      {{#each folder.files as |file|}}
        <div>{{file.name}}</div>
      {{/each}}
    {{/if}}
  </div>
</div>
